<h1 mat-dialog-title>Benutzer zu Chor hinzufügen</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Chor</mat-label>
      <mat-select formControlName="choir" required>
        <mat-option *ngFor="let choir of choirs" [value]="choir.id">{{ choir.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Rollen</mat-label>
      <mat-select formControlName="roles" multiple>
        <mat-option value="director">Dirigent</mat-option>
        <mat-option value="choir_admin">Chor-Admin</mat-option>
        <mat-option value="singer">Sänger</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="isOrganist">Organist</mat-checkbox>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-raised-button color="primary" (click)="onAdd()" [disabled]="form.invalid">Hinzufügen</button>
</div>
