<h2>Primäre Palette</h2>
<div mat-table [dataSource]="primaryColors" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <div mat-header-cell *matHeaderCellDef>Farbname</div>
    <div mat-cell *matCellDef="let c">{{ c.name }}</div>
  </ng-container>
  <ng-container matColumnDef="preview">
    <div mat-header-cell *matHeaderCellDef>Farbe</div>
    <div mat-cell *matCellDef="let c"><span class="color-box" [style.background]="c.hex"></span> {{ c.hex }}</div>
  </ng-container>
  <ng-container matColumnDef="scss">
    <div mat-header-cell *matHeaderCellDef>SCSS</div>
    <div mat-cell *matCellDef="let c"><code>{{ c.scss }}</code></div>
  </ng-container>
  <div mat-header-row *matHeaderRowDef="['name','preview','scss']"></div>
  <div mat-row *matRowDef="let row; columns: ['name','preview','scss']"></div>
</div>

<h2>Akzent-Palette</h2>
<div mat-table [dataSource]="accentColors" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <div mat-header-cell *matHeaderCellDef>Farbname</div>
    <div mat-cell *matCellDef="let c">{{ c.name }}</div>
  </ng-container>
  <ng-container matColumnDef="preview">
    <div mat-header-cell *matHeaderCellDef>Farbe</div>
    <div mat-cell *matCellDef="let c"><span class="color-box" [style.background]="c.hex"></span> {{ c.hex }}</div>
  </ng-container>
  <ng-container matColumnDef="scss">
    <div mat-header-cell *matHeaderCellDef>SCSS</div>
    <div mat-cell *matCellDef="let c"><code>{{ c.scss }}</code></div>
  </ng-container>
  <div mat-header-row *matHeaderRowDef="['name','preview','scss']"></div>
  <div mat-row *matRowDef="let row; columns: ['name','preview','scss']"></div>
</div>
