.color-box {
  display: inline-block;
  width: 2rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
}

h2 {
  margin-top: 2rem;
}

.deploy-actions {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
}
