<div class="deploy-actions">
  <button mat-raised-button color="primary" (click)="openDeployConsole(true)">
    Pull &amp; Deploy
  </button>
  <button mat-button (click)="openDeployConsole(false)">
    Nur Pull
  </button>
</div>

<mat-slide-toggle [(ngModel)]="debugLogs" (change)="onToggleDebugLogs()">
  Zusätzliche Konsolenlogs
</mat-slide-toggle>

<h2>Primäre Palette</h2>
<mat-table [dataSource]="primaryColors" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Farbname</mat-header-cell>
    <mat-cell *matCellDef="let c">{{ c.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="preview">
    <mat-header-cell *matHeaderCellDef>Farbe</mat-header-cell>
    <mat-cell *matCellDef="let c"><span class="color-box" [style.background]="c.hex"></span> {{ c.hex }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="scss">
    <mat-header-cell *matHeaderCellDef>SCSS</mat-header-cell>
    <mat-cell *matCellDef="let c"><code>{{ c.scss }}</code></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['name','preview','scss']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['name','preview','scss']"></mat-row>
</mat-table>

<h2>Akzent-Palette</h2>
<mat-table [dataSource]="accentColors" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Farbname</mat-header-cell>
    <mat-cell *matCellDef="let c">{{ c.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="preview">
    <mat-header-cell *matHeaderCellDef>Farbe</mat-header-cell>
    <mat-cell *matCellDef="let c"><span class="color-box" [style.background]="c.hex"></span> {{ c.hex }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="scss">
    <mat-header-cell *matHeaderCellDef>SCSS</mat-header-cell>
    <mat-cell *matCellDef="let c"><code>{{ c.scss }}</code></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['name','preview','scss']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['name','preview','scss']"></mat-row>
</mat-table>
