<h2>Primäre Palette</h2>
<table mat-table [dataSource]="primaryColors" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Farbname</th>
    <td mat-cell *matCellDef="let c">{{ c.name }}</td>
  </ng-container>
  <ng-container matColumnDef="preview">
    <th mat-header-cell *matHeaderCellDef>Farbe</th>
    <td mat-cell *matCellDef="let c"><span class="color-box" [style.background]="c.hex"></span> {{ c.hex }}</td>
  </ng-container>
  <ng-container matColumnDef="scss">
    <th mat-header-cell *matHeaderCellDef>SCSS</th>
    <td mat-cell *matCellDef="let c"><code>{{ c.scss }}</code></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['name','preview','scss']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name','preview','scss']"></tr>
</table>

<h2>Akzent-Palette</h2>
<table mat-table [dataSource]="accentColors" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Farbname</th>
    <td mat-cell *matCellDef="let c">{{ c.name }}</td>
  </ng-container>
  <ng-container matColumnDef="preview">
    <th mat-header-cell *matHeaderCellDef>Farbe</th>
    <td mat-cell *matCellDef="let c"><span class="color-box" [style.background]="c.hex"></span> {{ c.hex }}</td>
  </ng-container>
  <ng-container matColumnDef="scss">
    <th mat-header-cell *matHeaderCellDef>SCSS</th>
    <td mat-cell *matCellDef="let c"><code>{{ c.scss }}</code></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['name','preview','scss']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name','preview','scss']"></tr>
</table>
