.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  //background-color: var(--page-header-bg-color, #fff);
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #212121; // Light mode: dark text

  @media (prefers-color-scheme: dark) {
    color: #ffffff; // Dark mode: white text
  }
}

// Dark mode styles
:host-context(.dark-theme) {
  h1 {
    color: #ffffff; // Dark mode: white text
  }
}
