.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  //background-color: var(--page-header-bg-color, #fff);
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}
