<form [formGroup]="form" (ngSubmit)="save()" class="mail-form">
  <h3>Einladung</h3>
  <mat-form-field appearance="fill">
    <mat-label>Betreff</mat-label>
    <input matInput formControlName="inviteSubject" />
  </mat-form-field>
  <div class="editor-group">
    <label class="editor-label">Text (HTML erlaubt)</label>
    <div #inviteEditor class="quill-editor"></div>
    <p class="hint">
      Folgende Platzhalter werden ersetzt:
      {{'{{link}}'}}, {{'{{choir}}'}}, {{'{{invitor}}'}}, {{'{{expiry}}'}}, {{'{{surname}}'}}, {{'{{date}}'}}
    </p>
  </div>
  <div class="actions">
    <button mat-raised-button color="accent" type="button" (click)="sendTest('invite')">Testmail</button>
  </div>
  <h3>Passwort vergessen</h3>
  <mat-form-field appearance="fill">
    <mat-label>Betreff</mat-label>
    <input matInput formControlName="resetSubject" />
  </mat-form-field>
  <div class="editor-group">
    <label class="editor-label">Text (HTML erlaubt)</label>
    <div #resetEditor class="quill-editor"></div>
    <p class="hint">
      Folgende Platzhalter werden ersetzt: {{'{{link}}'}}, {{'{{surname}}'}}, {{'{{date}}'}}
    </p>
  </div>
  <div class="actions">
    <button mat-raised-button color="accent" type="button" (click)="sendTest('reset')">Testmail</button>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary" type="submit">Speichern</button>
  </div>
</form>
