.mail-form {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.editor-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.editor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}



.html-editor {
  height: 200px;
  width: 100%;
  font-family: monospace;
}

.hint {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.25rem;
}
