<h1 mat-dialog-title>Neues Mitglied einladen</h1>
<div mat-dialog-content>
  <p>E-Mail-Adresse eingeben und Rolle zuweisen.</p>
  <form [formGroup]="form" id="invite-form" (ngSubmit)="onInvite()">
    <mat-form-field appearance="outline">
      <mat-label>E-Mail-Adresse</mat-label>
      <input matInput formControlName="email" type="email" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Rollen im Chor</mat-label>
      <mat-select formControlName="roles" multiple>
        <mat-option value="director">Dirigent</mat-option>
        <mat-option value="choir_admin">Chor-Admin</mat-option>
        <mat-option value="organist">Organist</mat-option>
        <mat-option value="singer">Sänger</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-flat-button color="primary" type="submit" form="invite-form" [disabled]="form.invalid">
    Einladung senden
  </button>
</div>
