<mat-card>
  <mat-card-header>
    <mat-card-title>{{ cardTitle }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Überprüfen Sie, ob ein Event-Objekt übergeben wurde -->
    <ng-container *ngIf="event; else noData">
      <h3>
        {{ event.date | date:'fullDate' }}
        <span class="event-creator" *ngIf="event.director">({{ event.director.name }})</span>
      </h3>
      <ng-container *ngIf="event.pieces.length > 0; else noteBlock">
        <mat-list>
          <mat-list-item *ngFor="let piece of event.pieces">
            <div matListItemTitle>
              <a [routerLink]="['/pieces', piece.id]" class="piece-link">
                {{getPieceReference(piece)}} {{ piece.title }}
              </a>
            </div>
            <div matListItemLine>
                <span>{{ getPieceSubtitle(piece) }}</span>
            </div>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-template #noteBlock>
        <div *ngIf="event.notes" class="event-note">
          {{ event.notes }}
        </div>
      </ng-template>
    </ng-container>

    <!-- Diese Vorlage wird angezeigt, wenn das 'event'-Input null ist -->
    <ng-template #noData>
      <div class="no-data-message">
        <p>Kein Event aufgezeichnet.</p>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
