<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" id="choir-form" (ngSubmit)="onSave()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ort</mat-label>
      <input matInput formControlName="location">
    </mat-form-field>
  </form>

  <div *ngIf="data">
    <h2>Mitglieder</h2>
    <button mat-flat-button color="accent" (click)="openInviteDialog()">
      <mat-icon>add</mat-icon>
      Mitglied hinzufügen
    </button>
    <div mat-table [dataSource]="dataSource" class="member-table">
      <ng-container matColumnDef="name">
        <div mat-header-cell *matHeaderCellDef>Name</div>
        <div mat-cell *matCellDef="let user">{{user.name}}</div>
      </ng-container>
      <ng-container matColumnDef="email">
        <div mat-header-cell *matHeaderCellDef>E-Mail</div>
        <div mat-cell *matCellDef="let user">{{user.email}}</div>
      </ng-container>
      <ng-container matColumnDef="role">
        <div mat-header-cell *matHeaderCellDef>Rollen</div>
        <div mat-cell *matCellDef="let user">{{user.membership?.rolesInChoir?.join(', ') || '-'}}</div>
      </ng-container>
      <ng-container matColumnDef="organist">
        <div mat-header-cell *matHeaderCellDef>Organist</div>
        <div mat-cell *matCellDef="let user">
          <mat-checkbox [checked]="user.membership?.rolesInChoir?.includes('organist')" (change)="toggleOrganist(user, $event.checked)"></mat-checkbox>
        </div>
      </ng-container>
      <ng-container matColumnDef="status">
        <div mat-header-cell *matHeaderCellDef>Status</div>
        <div mat-cell *matCellDef="let user">{{user.membership?.registrationStatus === 'PENDING' ? 'Registrierung ausstehend' : 'Registriert'}}</div>
      </ng-container>
      <ng-container matColumnDef="actions">
        <div mat-header-cell *matHeaderCellDef></div>
        <div mat-cell *matCellDef="let user">
          <button mat-icon-button color="warn" (click)="removeMember(user)">
            <mat-icon>person_remove</mat-icon>
          </button>
        </div>
      </ng-container>
      <div mat-header-row *matHeaderRowDef="displayedColumns"></div>
      <div mat-row *matRowDef="let row; columns: displayedColumns"></div>
      <div class="mat-row" *matNoDataRow>
        <div class="mat-cell" [attr.colspan]="displayedColumns.length">Keine Mitglieder gefunden.</div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-flat-button color="primary" type="submit" form="choir-form" [disabled]="form.invalid">Speichern</button>
</div>
