<mat-form-field appearance="fill">
  <mat-label>Startzeit</mat-label>
  <input matInput type="datetime-local" [(ngModel)]="startTime" />
</mat-form-field>

<button mat-raised-button color="primary" (click)="addPiece()">+ Stück</button>
<button mat-raised-button color="accent" (click)="addFreePiece()">+ Freies Stück</button>
<button mat-raised-button color="accent" class="add-speech" (click)="addSpeech()">+ Sprachbeitrag</button>
<button mat-raised-button color="accent" (click)="addBreak()">+ Pause</button>

<div *ngIf="hasMissingDurations()" class="duration-warning">
  Es existieren Elemente ohne Dauerangabe.
</div>

<div *ngIf="items.length" class="table-container">
  <table
    mat-table
    [dataSource]="items"
    class="program-table"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
  <ng-container matColumnDef="move">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item; let i = index">
      <button
        mat-icon-button
        (click)="moveUp(i)"
        [disabled]="i === 0"
        aria-label="Nach oben"
      >
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="moveDown(i)"
        [disabled]="i === items.length - 1"
        aria-label="Nach unten"
      >
        <mat-icon>arrow_downward</mat-icon>
      </button>
      <span class="drag-handle" cdkDragHandle aria-label="Greifen">
        <mat-icon>drag_indicator</mat-icon>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Titel </th>
    <td mat-cell *matCellDef="let item">
      <ng-container [ngSwitch]="item.type">
        <span *ngSwitchCase="'piece'">{{ item.pieceTitleSnapshot }}</span>
        <span *ngSwitchCase="'speech'">{{ item.speechTitle }}</span>
        <span *ngSwitchCase="'break'">{{ item.breakTitle || 'Pause' }}</span>
        <span *ngSwitchCase="'slot'">{{ item.slotLabel }}</span>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="composer">
    <th mat-header-cell *matHeaderCellDef> Komponist / Sprecher </th>
    <td mat-cell *matCellDef="let item">
      <ng-container [ngSwitch]="item.type">
        <span *ngSwitchCase="'piece'">{{ item.pieceComposerSnapshot }}</span>
        <span *ngSwitchCase="'speech'">{{ item.speechSpeaker }}</span>
        <span *ngSwitchCase="'slot'"></span>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Dauer (mm:ss) </th>
    <td mat-cell *matCellDef="let item">
      <input
        matInput
        [(ngModel)]="item.durationStr"
        (ngModelChange)="onDurationChange(item)"
        placeholder="mm:ss"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef> Notiz </th>
    <td mat-cell *matCellDef="let item">
      <input matInput [(ngModel)]="item.note" />
    </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Uhrzeit </th>
    <td mat-cell *matCellDef="let item; let i = index">
      {{ getPlannedTime(i) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="sum">
    <th mat-header-cell *matHeaderCellDef> Summe </th>
    <td mat-cell *matCellDef="let item; let i = index">
      {{ getCumulativeDuration(i) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Aktionen </th>
    <td mat-cell *matCellDef="let item">

      <ng-container [ngSwitch]="item.type">
        <a *ngSwitchCase="'piece'" [routerLink]="['/pieces', item.pieceId]" target="_blank">Details</a>
        <ng-container *ngSwitchCase="'slot'">
          <button mat-button (click)="fillSlotWithPiece(item)">Stück</button>
          <button mat-button (click)="fillSlotWithFreePiece(item)">Freies Stück</button>
          <button mat-button (click)="fillSlotWithSpeech(item)">Text</button>
          <button mat-button (click)="fillSlotWithBreak(item)">Pause</button>
        </ng-container>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag></tr>
  </table>
</div>

<div *ngIf="items.length" class="total-duration">
  Gesamtdauer: {{ getTotalDuration() }}
</div>
