.maintenance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 1rem;

  @media (prefers-color-scheme: dark) {
    background-color: #222222;
    color: #eeeeee;
  }
}

:host-context(.light-theme) .maintenance-container {
  background-color: #ffffff;
}

:host-context(.dark-theme) .maintenance-container {
  background-color: #222222;
  color: #eeeeee;
}

mat-card {
  max-width: 400px;
  width: 100%;

  @media (prefers-color-scheme: dark) {
    color: #eeeeee;
  }
}

:host-context(.dark-theme) mat-card {
  color: #eeeeee;
}
