<div class="toolbar">
  <button mat-flat-button color="primary" (click)="addComposer()">Add Composer</button>
</div>

<div class="letter-filter">
  <button mat-button *ngFor="let l of letters" (click)="onLetterSelect(l)" [color]="selectedLetter === l ? 'primary' : undefined">
    {{ l }}
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="birthYear">
    <th mat-header-cell *matHeaderCellDef>Birth</th>
    <td mat-cell *matCellDef="let element">{{ element.birthYear }}</td>
  </ng-container>

  <ng-container matColumnDef="deathYear">
    <th mat-header-cell *matHeaderCellDef>Death</th>
    <td mat-cell *matCellDef="let element">{{ element.deathYear }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="editComposer(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteComposer(element)" [disabled]="!element.canDelete">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="totalComposers" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
