<div class="reset-container">
  <mat-card>
    <mat-card-title>Passwort vergessen</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
            <span *ngIf="!isLoading">Absenden</span>
            <mat-spinner *ngIf="isLoading" diameter="24"></mat-spinner>
          </button>
        </mat-card-actions>
      </form>
      <p *ngIf="message">{{ message }}</p>
      <p class="reset-link"><a routerLink="/login">Zurück zum Login</a></p>
    </mat-card-content>
  </mat-card>
</div>
