<div class="login-page">
  <div class="login-page-header">
    <h1 class="login-brand">NAK Chorleiter</h1>
  </div>
  <div class="card">
    <header class="login-header">
      <h1>Neues Passwort</h1>
    </header>
    <div class="login-body">
      <form [formGroup]="form" (ngSubmit)="submit()" class="login-pf-settings">
        <mat-form-field appearance="outline">
          <mat-label>Neues Passwort</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Neues Passwort wiederholen</mat-label>
          <input matInput type="password" formControlName="passwordRepeat">
          <mat-error *ngIf="form.hasError('passwordsMismatch') && form.get('passwordRepeat')?.touched">
            Passwörter stimmen nicht überein
          </mat-error>
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
            <span *ngIf="!isLoading">Speichern</span>
            <mat-spinner *ngIf="isLoading" diameter="24" class="in-button-spinner"></mat-spinner>
          </button>
        </div>
      </form>
      <p *ngIf="message" class="message" innerHtml="{{ message }}"></p>
      <p class="reset-link"><a routerLink="/login">Abbrechen</a></p>
    </div>
  </div>
</div>
