<div class="legal-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Unterstütze dieses Projekt</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Der Betrieb dieses Servers kostet etwa 120&nbsp;€ pro Jahr. Die Entwicklung dieses Werkzeugs hat viele Stunden Freizeit gekostet und erfolgt ohne Gewinnerzielungsabsicht.</p>
      <p>Wenn dir diese Anwendung gefällt, freue ich mich über einen Beitrag zu den Betriebs- und Kaffeekosten.</p>
      <p>Spenden können bequem per Paypal an <strong>michael.free&#64;gmx.de</strong> übermittelt werden.</p>
      <button mat-raised-button color="accent" (click)="openPaypal()">Jetzt spenden</button>
    </mat-card-content>
  </mat-card>
</div>
