.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
}

.timeline li {
  position: relative;
  padding-left: 1.25rem;
  cursor: pointer;
  gap: 12px;
  border-inline-start:2px solid #e5e7eb;
  height: 2.2rem;
}

.timeline li:hover {
    background: #f8fafc
}

.timeline li::before {
  content: '';
  position: absolute;
  left: -5px;
  top: 0.55rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--dot-color, #1976d2);
  box-shadow: 0 0 0 2px #e5e7eb
}

mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
