.table {
  width: 100%;
}

.toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.toolbar .spacer {
  flex: 1 1 auto;
}

.filter-field {
  width: 200px;
}

.roles-select {
  width: 200px;
}
