<h1 mat-dialog-title>Neue Rubrik erstellen</h1>
<div mat-dialog-content>
  <p>Name der neuen Rubrik eingeben.</p>
  <form [formGroup]="form" id="category-form" (ngSubmit)="onSave()">
    <mat-form-field appearance="outline">
      <mat-label>Name der Rubrik</mat-label>
      <input matInput formControlName="name" cdkFocusInitial>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-flat-button color="primary" type="submit" form="category-form" [disabled]="form.invalid">Rubrik speichern</button>
</div>
