<h1 mat-dialog-title>Add New Category (Rubrik)</h1>
<div mat-dialog-content>
  <p>Enter the name of the new category.</p>
  <form [formGroup]="form" id="category-form" (ngSubmit)="onSave()">
    <mat-form-field appearance="outline">
      <mat-label>Category Name</mat-label>
      <input matInput formControlName="name" cdkFocusInitial>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" type="submit" form="category-form" [disabled]="form.invalid">Save Category</button>
</div>
