.form-row {
  display: flex;
  gap: 1rem;
  > * {
    flex: 1;
  }
}

.full-width {
  width: 100%;
}

h3.mat-subheading-2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

// Styling für die Autocomplete-Optionen
.option-grid {
    display: grid;
    grid-template-columns: 5rem 1fr 1fr 1fr;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
}

.option-header {
    font-weight: bold;
    pointer-events: none;
}

.col-reference {
    font-style: italic;
    color: #888;
}


// Styling für die Tabelle der ausgewählten Stücke
.selected-pieces-table {
    width: 100%;
    margin-top: 1rem;
}

.no-pieces-message {
    font-style: italic;
    color: #888;
    margin-top: 1rem;
}

// Neuer Container für die Stück-Suche

.autocomplete-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    flex-wrap: wrap;

    .search-box {
        width: 100%;
    }

    .add-custom {
        font-size: 1rem;
        a {
            cursor: pointer;
        }
    }
}
