<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>E-Mail</th>
    <td mat-cell *matCellDef="let element">
      <a href="#" (click)="openUser(element.email); $event.preventDefault()">{{ element.email }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="success">
    <th mat-header-cell *matHeaderCellDef>Erfolg</th>
    <td mat-cell *matCellDef="let element">{{ element.success ? '✔' : '✖' }}</td>
  </ng-container>

  <ng-container matColumnDef="ipAddress">
    <th mat-header-cell *matHeaderCellDef>IP</th>
    <td mat-cell *matCellDef="let element">{{ element.ipAddress }}</td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Datum</th>
    <td mat-cell *matCellDef="let element">{{ element.createdAt | date:'short' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
