<div class="month-nav">
  <button mat-icon-button (click)="previousMonth()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span>{{ monthLabel }}</span>
  <button mat-icon-button (click)="nextMonth()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>E-Mail</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a href="#" (click)="openUser(element.email); $event.preventDefault()">{{ element.email }}</a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="success">
    <mat-header-cell *matHeaderCellDef>Erfolg</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.success ? '✔' : '✖' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="reason">
    <mat-header-cell *matHeaderCellDef>Grund</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.reason }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ipAddress">
    <mat-header-cell *matHeaderCellDef>IP</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.ipAddress }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="userAgent">
    <mat-header-cell *matHeaderCellDef>Browser</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.userAgent }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef>Datum</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.createdAt | date:'short' }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
