<div class="month-nav">
  <button mat-icon-button (click)="previousMonth()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span>{{ monthLabel }}</span>
  <button mat-icon-button (click)="nextMonth()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<div mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="email">
    <div mat-header-cell *matHeaderCellDef>E-Mail</div>
    <div mat-cell *matCellDef="let element">
      <a href="#" (click)="openUser(element.email); $event.preventDefault()">{{ element.email }}</a>
    </div>
  </ng-container>

  <ng-container matColumnDef="success">
    <div mat-header-cell *matHeaderCellDef>Erfolg</div>
    <div mat-cell *matCellDef="let element">{{ element.success ? '✔' : '✖' }}</div>
  </ng-container>

  <ng-container matColumnDef="reason">
    <div mat-header-cell *matHeaderCellDef>Grund</div>
    <div mat-cell *matCellDef="let element">{{ element.reason }}</div>
  </ng-container>

  <ng-container matColumnDef="ipAddress">
    <div mat-header-cell *matHeaderCellDef>IP</div>
    <div mat-cell *matCellDef="let element">{{ element.ipAddress }}</div>
  </ng-container>

  <ng-container matColumnDef="userAgent">
    <div mat-header-cell *matHeaderCellDef>Browser</div>
    <div mat-cell *matCellDef="let element">{{ element.userAgent }}</div>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <div mat-header-cell *matHeaderCellDef>Datum</div>
    <div mat-cell *matCellDef="let element">{{ element.createdAt | date:'short' }}</div>
  </ng-container>

  <div mat-header-row *matHeaderRowDef="displayedColumns"></div>
  <div mat-row *matRowDef="let row; columns: displayedColumns;"></div>
</div>
