<a *ngIf="isVisible && item" mat-list-item [ngStyle]="{'padding-left': (depth * 48) + 'px'}"
  (click)="onItemSelected(item)" class="menu-list-item"
  [routerLink]="item.route || null" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
  [ngClass]="{'expanded': expanded}">

  <div *ngIf="item.iconName" class="nav-text"><mat-icon class="routeIcon">{{item.iconName}}</mat-icon></div>
  <div *ngIf="item.svgIconName" class="nav-text"><mat-icon class="routeIconSVG"
      svgIcon="{{item.svgIconName}}"></mat-icon></div>
  {{item.displayName}}

  <span fxFlex *ngIf="item?.children && item?.children?.length" class="expandIcon">
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded && isVisible" class="expanded-area">
  <app-menu-list-item *ngFor="let child of item?.children" [item]="child" [depth]="depth+1"></app-menu-list-item>
</div>
