
.mail-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  mat-form-field {
    width: 100%;
  }
}


.hint {
  margin-top: 0.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}
