<div class="manual-inputs">
  <mat-form-field appearance="fill">
    <mat-label>Monat</mat-label>
    <input matInput type="number" [(ngModel)]="selected.month" min="1" max="12" (change)="monthChanged()" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Jahr</mat-label>
    <input matInput type="number" [(ngModel)]="selected.year" (change)="monthChanged()" />
  </mat-form-field>
</div>

<div class="month-nav">
  <button mat-button color="primary" (click)="previousMonth()">
    <mat-icon>chevron_left</mat-icon>
    {{ prevMonthLabel }}
  </button>
  <button mat-button color="primary" (click)="nextMonth()">
    {{ nextMonthLabel }}
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<app-availability-table [year]="selected.year" [month]="selected.month"></app-availability-table>
