<h1 mat-dialog-title>Mitglied hinzufügen</h1>
<div mat-dialog-content>
  <form [formGroup]="form" id="add-member-form" (ngSubmit)="onAdd()">
    <mat-form-field appearance="outline">
      <mat-label>Benutzer</mat-label>
      <input type="text" matInput formControlName="user" [matAutocomplete]="auto" cdkFocusInitial>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
        <mat-option *ngFor="let u of filteredUsers | async" [value]="u">
          {{u.name}} ({{u.email}})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Rolle im Chor</mat-label>
      <mat-select formControlName="role">
        <mat-option value="director">Dirigent</mat-option>
        <mat-option value="choir_admin">Chor-Admin</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-flat-button color="primary" type="submit" form="add-member-form" [disabled]="form.invalid">Hinzufügen</button>
</div>
