<div class="login-pf-page">
  <div class="login-pf-page-header">
    <h1 class="login-pf-brand">NAK</h1>
  </div>
  <div class="card-pf">
    <header class="login-pf-header">
      <h1>Anmelden</h1>
    </header>
    <div class="login-pf-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-pf-settings">
        <mat-form-field appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input matInput formControlName="email" type="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Passwort</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>

        <mat-checkbox formControlName="rememberMe" color="primary">Angemeldet bleiben</mat-checkbox>

        <div class="pf-m-align-right">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading">
            <span *ngIf="!isLoading">Anmelden</span>
            <mat-spinner *ngIf="isLoading" diameter="24" class="in-button-spinner"></mat-spinner>
          </button>
        </div>
      </form>
      <p class="reset-link"><a routerLink="/forgot-password">Passwort vergessen?</a></p>
    </div>
  </div>
</div>
