mat-form-field {
  width: 100%;
}

.reset-link {
  margin-top: 1rem;
}

.in-button-spinner {
  display: inline-block;
  margin: 0 12px;
}

.session-expired {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}
