<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cover ({{ unassignedCovers }} unzugewiesen)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div mat-table [dataSource]="covers" class="mat-elevation-z1" *ngIf="covers.length > 0">
      <ng-container matColumnDef="filename">
        <div mat-header-cell *matHeaderCellDef>Datei</div>
        <div mat-cell *matCellDef="let f">{{ f.filename }}</div>
      </ng-container>
      <ng-container matColumnDef="linked">
        <div mat-header-cell *matHeaderCellDef>Zugewiesen</div>
        <div mat-cell *matCellDef="let f">
          <a *ngIf="f.collectionId" [routerLink]="['/collections/edit', f.collectionId]">{{ f.collectionTitle }}</a>
          <span *ngIf="!f.collectionId">–</span>
        </div>
      </ng-container>
      <ng-container matColumnDef="actions">
        <div mat-header-cell *matHeaderCellDef>Aktionen</div>
        <div mat-cell *matCellDef="let f">
          <button mat-icon-button color="warn" *ngIf="!f.collectionId" (click)="delete('covers', f.filename)" matTooltip="Löschen">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>
      <div mat-header-row *matHeaderRowDef="displayedColumns"></div>
      <div mat-row *matRowDef="let row; columns: displayedColumns"></div>
    </div>
    <p *ngIf="covers.length === 0">Keine Dateien gefunden.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Notenbild ({{ unassignedImages }} unzugewiesen)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div mat-table [dataSource]="images" class="mat-elevation-z1" *ngIf="images.length > 0">
      <ng-container matColumnDef="filename">
        <div mat-header-cell *matHeaderCellDef>Datei</div>
        <div mat-cell *matCellDef="let f">{{ f.filename }}</div>
      </ng-container>
      <ng-container matColumnDef="linked">
        <div mat-header-cell *matHeaderCellDef>Zugewiesen</div>
        <div mat-cell *matCellDef="let f">
          <a *ngIf="f.pieceId" [routerLink]="['/pieces', f.pieceId]">{{ f.pieceTitle }}</a>
          <span *ngIf="!f.pieceId">–</span>
        </div>
      </ng-container>
      <ng-container matColumnDef="actions">
        <div mat-header-cell *matHeaderCellDef>Aktionen</div>
        <div mat-cell *matCellDef="let f">
          <button mat-icon-button color="warn" *ngIf="!f.pieceId" (click)="delete('images', f.filename)" matTooltip="Löschen">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>
      <div mat-header-row *matHeaderRowDef="displayedColumns"></div>
      <div mat-row *matRowDef="let row; columns: displayedColumns"></div>
    </div>
    <p *ngIf="images.length === 0">Keine Dateien gefunden.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Hochgeladene Dateien ({{ unassignedFiles }} unzugewiesen)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div mat-table [dataSource]="files" class="mat-elevation-z1" *ngIf="files.length > 0">
      <ng-container matColumnDef="filename">
        <div mat-header-cell *matHeaderCellDef>Datei</div>
        <div mat-cell *matCellDef="let f">{{ f.filename }}</div>
      </ng-container>
      <ng-container matColumnDef="downloadName">
        <div mat-header-cell *matHeaderCellDef>Downloadname</div>
        <div mat-cell *matCellDef="let f">{{ f.downloadName || '–' }}</div>
      </ng-container>
      <ng-container matColumnDef="linked">
        <div mat-header-cell *matHeaderCellDef>Zugewiesen</div>
        <div mat-cell *matCellDef="let f">
          <a *ngIf="f.pieceId" [routerLink]="['/pieces', f.pieceId]">{{ f.pieceTitle }}</a>
          <span *ngIf="!f.pieceId">–</span>
        </div>
      </ng-container>
      <ng-container matColumnDef="actions">
        <div mat-header-cell *matHeaderCellDef>Aktionen</div>
        <div mat-cell *matCellDef="let f">
          <button mat-icon-button color="warn" *ngIf="!f.pieceId" (click)="delete('files', f.filename)" matTooltip="Löschen">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>
      <div mat-header-row *matHeaderRowDef="displayedFileColumns"></div>
      <div mat-row *matRowDef="let row; columns: displayedFileColumns"></div>
    </div>
    <p *ngIf="files.length === 0">Keine Dateien gefunden.</p>
  </mat-expansion-panel>
</mat-accordion>
