@use "@angular/material" as mat;
@use "../../../themes/_nak-theme" as nak;

.reset-link {
  margin-top: 1rem;
  a {
    color: mat.m2-get-color-from-palette(
      nak.$choir-app-primary,
      default
    ) !important;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.in-button-spinner {
  display: inline-block;
  margin: 0 12px;
}

.session-expired {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

.login-error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

.login-page {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;

  .login-page-header {
    margin-bottom: 20px;
    text-align: center;
  }

  .login-brand {
    font-size: 1.5rem;
    color: mat.m2-get-color-from-palette(
      nak.$choir-app-primary,
      default
    ) !important;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 10px 20px 30px;
    margin-bottom: 0;

    //border-top: 5px solid var(--primary-color, #3f51b5);
  }

  .card {
    @media (prefers-color-scheme: dark) {
      color: #666666;
      background-color: #222222;
      border: 1px solid #777777;
    }
  }

  :host-context(.light-theme) .card {
    background-color: #eeeeee;
    color: #000;
    border: 1px solid #dddddd;
  }

  :host-context(.dark-theme) .card {
    color: #666666;
    background-color: #222222;
    border: 1px solid #777777;
  }

  .login-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    h1 {
      text-align: center;
      font-size: 1rem;
    }
  }

  .login-settings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .btn-primary {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .login-page .card-pf {
    padding: 20px 40px 30px;
  }
}

@media (min-width: 768px) {
  .login-page .login-pf-header h1 {
    font-size: 1.5rem;
  }
}
