<h2>Einladung für {{choirName}}</h2>
<p *ngIf="email">Registriere den Account für {{email}}</p>
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Passwort</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>
  <mat-checkbox formControlName="isOrganist">Ich bin Organist</mat-checkbox>
  <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Registrieren</button>
</form>
