<h1 mat-dialog-title>Willkommen</h1>
<div mat-dialog-content>
  <mat-vertical-stepper>
    <mat-step>
      <ng-template matStepLabel>Willkommen</ng-template>
      <p>Sch&ouml;n, dass du den Chorleiter nutzt. Dieses kurze Tutorial zeigt dir die wichtigsten Funktionen.</p>
      <div>
        <button mat-flat-button color="primary" matStepperNext>Weiter</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Rollen</ng-template>
      <p>Je nachdem in welcher Rolle du den Chorleiter benutzt, siehst du unterschiedliche Menüpunkte und kannst Funktionen nutzen. In der Rolle <strong>Chorleiter</strong> verwaltest du das Repertoire und kannst Ereignisse einsehen und anlegen. Als <strong>Choradministrator</strong> verwaltest du zusätzlich die Sammlungen und die Benutzer des Chores, also besitzt du fast alle Rechte au&szlig;erhalb des musikalischen Bereichs.</p>
      <div>
        <button mat-button matStepperPrevious>Zur&uuml;ck</button>
        <button mat-flat-button color="primary" matStepperNext>Weiter</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Navigation</ng-template>
      <p>Im linken Men&uuml; findest du Dashboard, Ereignisse, Statistik, Mein Chor, Repertoire und Sammlungen.</p>
      <p>Dort gelangst du zu allen wichtigen Funktionen der Anwendung. Die wichtigsten Funktionen sind die Ereignisse, um Daten zu Gottesdiensten und Proben einzugeben.</p>
      <div>
        <button mat-button matStepperPrevious>Zur&uuml;ck</button>
        <button mat-flat-button color="primary" matStepperNext>Weiter</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>&Auml;nderungsvorschl&auml;ge</ng-template>
      <p>Hast du einen Fehler in den Daten gefunden? Super. Dann reiche die Änderungen doch einfach als Änderungsvorschlag ein. Gerade die einzelnen Stücke sind für alle Chöre gleich. Ein Administrator wird die Änderungen prüfen und Übernehmen.</p>
      <p>Diese Hilfe findest du jederzeit &uuml;ber das Benutzermen&uuml;.</p>
      <div>
        <button mat-button matStepperPrevious>Zur&uuml;ck</button>
        <button mat-flat-button color="primary" (click)="close()">Schlie&szlig;en</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
