@use "@angular/material" as mat;
@use "../../../themes/_nak-theme" as nak;

.actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.assigned td {
  font-weight: 600;
}

.counter-plan-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
  }

  th:first-child, td:first-child {
    background-color: mat.m2-get-color-from-palette(nak.$choir-app-primary, 50);
  }
}

:host {
  display: block;
  padding: 16px;
}

mat-tab-group {
  width: 100%;
}

.holiday {
  font-style: italic;
  color: #555;
}

.warning-icon {
  vertical-align: middle;
  margin-left: 4px;
}
