.library-text {
  margin-bottom: 1rem;
}


.list-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.clickable-row {
  cursor: pointer;
}

.detail-row {
  height: 0;
}

.composer-hint {
  font-size: 0.9rem;
  font-style: italic;
  color: #000000;
}

.subtitle-hint {
  font-size: 0.9rem;
  color: #555;
}
