<div class="legal-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Impressum</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h2>Angaben gemäß § 5 TMG</h2>
      <p>
        <strong>Michael Free (Chorleiter)</strong><br>
        Am Ruthenhau 9<br>
        37176 Nörten-Hardenberg<br>
        Deutschland
      </p>

      <h2>Kontakt</h2>
      <p>
        Telefon: (05503) 8058300<br>
        E-Mail: michael.free&#64;gmx.de
      </p>

      <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
      <p>
        Michael Free<br>
        Anschrift wie oben
      </p>

      <h2>Haftung für Inhalte</h2>
      <p>
        Als Diensteanbieter sind wir gemäß § 7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine Haftung ist erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen entfernen wir diese Inhalte umgehend.
      </p>
    </mat-card-content>
  </mat-card>
</div>
