<h1 mat-dialog-title>Dienstplan versenden</h1>
<div mat-dialog-content>
  <p>Empfänger auswählen:</p>
  <mat-selection-list (selectionChange)="toggle($event.options[0].value, $event.options[0].selected)">
    <mat-list-option *ngFor="let m of data.members" [value]="m.id">
      {{ m.name }} ({{ m.email }})
    </mat-list-option>
  </mat-selection-list>
  <mat-form-field appearance="outline" class="extra-emails">
    <mat-label>Weitere E-Mail-Adressen</mat-label>
    <input matInput [(ngModel)]="emails" placeholder="name@example.com, ..." />
    <mat-hint>Mehrere Adressen durch Komma oder Leerzeichen trennen</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Abbrechen</button>
  <button mat-flat-button color="primary" (click)="send()" [disabled]="!canSend">Senden</button>
</div>
