<div class="controls" *ngIf="members.length > 0">
  <mat-form-field appearance="fill">
    <mat-label>Sortierung</mat-label>
    <mat-select [value]="sortMode" (selectionChange)="onSortModeChange($any($event.value))">
      <mat-option value="voice">nach Stimme</mat-option>
      <mat-option value="name">alphabetisch</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="downloadPdf()">PDF</button>
</div>

<div class="table-container mat-elevation-z4" *ngIf="members.length > 0">
  <mat-table [dataSource]="members">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let m">{{ m.name }}, {{ m.firstName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="voice">
      <mat-header-cell *matHeaderCellDef>Stimme</mat-header-cell>
      <mat-cell *matCellDef="let m">{{ voiceOf(m) }}</mat-cell>
    </ng-container>

    <ng-container *ngFor="let col of eventColumns" [matColumnDef]="col.key">
      <mat-header-cell *matHeaderCellDef>{{ col.label }}</mat-header-cell>
      <mat-cell *matCellDef="let m" (click)="changeStatus(m.id, col.key)">
        <mat-icon class="status-icon" *ngIf="iconFor(status(m.id, col.key)) as icon" [ngClass]="classFor(status(m.id, col.key))">{{ icon }}</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let col of monthColumns" [matColumnDef]="col.key">
      <mat-header-cell *matHeaderCellDef>{{ col.label }}</mat-header-cell>
      <mat-cell *matCellDef="let m">
        <ng-container *ngFor="let ev of col.events">
          <mat-icon class="status-icon" *ngIf="iconFor(status(m.id, ev.date)) as icon" [ngClass]="classFor(status(m.id, ev.date))" (click)="changeStatus(m.id, ev.date)">{{ icon }}</mat-icon>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <ng-container matNoDataRow>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          Keine Mitglieder gefunden.
        </td>
      </tr>
    </ng-container>
  </mat-table>
</div>
