<mat-toolbar color="primary" class="main-toolbar">
  <button type="button" aria-label="Menü umschalten" mat-icon-button (click)="appDrawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <span class="title"><a href="/" class="page-title-link">NAK Chorleiter</a></span>

  <span class="spacer"></span>

  <ng-container *ngIf="isLoggedIn$ | async">
    <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="Benutzerprofil">
      <mat-icon style="color:white"><img src="./../../assets/icons/user-filled.svg"></mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <a mat-menu-item routerLink="/profile">
        <mat-icon><img src="./../../assets/icons/user-filled.svg"></mat-icon>
        <span>Profil</span>
      </a>
      <button mat-menu-item [matMenuTriggerFor]="themeMenu">
        <mat-icon>contrast</mat-icon>
        <span>Theme</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon><img src="./../../assets/icons/logout.svg"></mat-icon>
        <span>Abmelden</span>
      </button>
    </mat-menu>

    <mat-menu #themeMenu="matMenu">
      <button mat-menu-item (click)="setTheme('light')">
        <mat-icon *ngIf="currentTheme === 'light'">check</mat-icon>
        <span>Light</span>
      </button>
      <button mat-menu-item (click)="setTheme('dark')">
        <mat-icon *ngIf="currentTheme === 'dark'">check</mat-icon>
        <span>Dark</span>
      </button>
      <button mat-menu-item (click)="setTheme('system')">
        <mat-icon *ngIf="currentTheme === 'system'">check</mat-icon>
        <span>System</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<mat-sidenav-container class="site-container">
  <mat-sidenav #appDrawer mode="over" [fixedInViewport]="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">

    <mat-nav-list>
      <app-choir-switcher *ngIf="isLoggedIn$ | async"></app-choir-switcher>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content class="main-content">

    <app-error-display></app-error-display>
    <app-loading-indicator></app-loading-indicator>

    <main class="main-content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>


  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
