:host {
  --header-height: 64px;
  --footer-height: 56px;
}

.site-container {
  min-height: 50vh;
}

.main-toolbar {
  position: sticky; // Die Leiste "klebt" beim Scrollen.
  top: 0; // Sie klebt am oberen Rand.
  z-index: 100; // Sie bleibt über allen anderen Inhalten.
  height: var(--header-height); // Wir verwenden unsere definierte Höhe.


  // Diese Stile sind für das Aussehen und die Funktionalität der Links.
  a.mat-mdc-button {
    margin: 0 4px;
    padding: 0 16px;
    line-height: 48px;
    transition: background-color 0.3s;
  }
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  flex: 1; // Dieser Container wächst und füllt den verbleibenden Platz.
  position: relative;
    z-index: 1;
    overflow: auto;

  & > .container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    // Lässt den Container die verfügbare Höhe ausfüllen, abzüglich des Paddings des main-content.
    height: calc(100vh - var(--header-height) - var(--footer-height) - 3rem);
    overflow: auto;
    //background-color: aliceblue; // debug only
  }
}

@media (max-width: 599px) {
  :host {
    --header-height: 56px; // Material Design Standard für mobile Header
  }
  .main-content > .container {
    padding: 1rem;
  }
}

.page-title-link {
  text-decoration: none;
  gap: 0.5rem; // Abstand zwischen Icon und Text
  color: var(--primary-color, #ffffff); // Verwenden Sie Ihre primäre Theme-Farbe
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

.appDrawer {
  width: 220px; // Feste Breite für den Sidenav
  z-index: 1000; // Sicherstellen, dass der Sidenav über anderen Inhalten liegt
  padding: 0.5rem;
}

@media (max-width: 599px) {
  .appDrawer {
    width: 70vw;
  }
}
