<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Mail-Server</mat-panel-title>
    </mat-expansion-panel-header>
    <app-mail-settings></app-mail-settings>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Automatische Mails</mat-panel-title>
    </mat-expansion-panel-header>
    <app-mail-templates></app-mail-templates>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Backup</mat-panel-title>
    </mat-expansion-panel-header>
    <app-backup></app-backup>
  </mat-expansion-panel>
</mat-accordion>
