<div class="toolbar">
  <mat-button-toggle-group [(ngModel)]="mode" (change)="loadData()" exclusive>
    <mat-button-toggle value="composer">Komponisten</mat-button-toggle>
    <mat-button-toggle value="author">Autoren</mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-flat-button color="primary" (click)="addPerson()" class="add-btn">
    {{ mode === 'composer' ? 'Komponist hinzufügen' : 'Dichter hinzufügen' }}
  </button>
</div>

<app-alphabet-filter
  [items]="people"
  filterField="name"
  (filtered)="onFilteredPeople($event)">
</app-alphabet-filter>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="birthYear">
    <mat-header-cell *matHeaderCellDef>Geburt</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.birthYear }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="deathYear">
    <mat-header-cell *matHeaderCellDef>Tod</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.deathYear }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="editPerson(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="enrichPerson(element)">
        <mat-icon>cloud_download</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deletePerson(element)" [disabled]="!element.canDelete">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="piece-list" *ngIf="expandedPerson?.id === element.id">
        <div *ngIf="expandedPieces.length; else none">
          <ul>
            <li *ngFor="let p of expandedPieces">
              <a [routerLink]="['/pieces', p.id]" (click)="openEditPieceDialog($event, p.id)">{{ p.title }}</a>
            </li>
          </ul>
        </div>
        <ng-template #none>Keine Stücke vorhanden.</ng-template>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)" class="creator-row"></mat-row>
  <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" class="detail-row"></mat-row>
</mat-table>

<mat-paginator [length]="totalPeople"
               [pageSizeOptions]="pageSizeOptions"
               [pageSize]="pageSize"
               showFirstLastButtons></mat-paginator>
