<div class="toolbar">
  <mat-button-toggle-group [(ngModel)]="mode" (change)="loadData()" exclusive>
    <mat-button-toggle value="composer">Komponisten</mat-button-toggle>
    <mat-button-toggle value="author">Autoren</mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-flat-button color="primary" (click)="addPerson()" class="add-btn">
    {{ mode === 'composer' ? 'Komponist hinzufügen' : 'Dichter hinzufügen' }}
  </button>
</div>

<div class="letter-filter">
  <button mat-button *ngFor="let l of letters" (click)="onLetterSelect(l)" [color]="selectedLetter === l ? 'primary' : undefined">
    {{ l }}
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="birthYear">
    <th mat-header-cell *matHeaderCellDef>Geburt</th>
    <td mat-cell *matCellDef="let element">{{ element.birthYear }}</td>
  </ng-container>

  <ng-container matColumnDef="deathYear">
    <th mat-header-cell *matHeaderCellDef>Tod</th>
    <td mat-cell *matCellDef="let element">{{ element.deathYear }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="editPerson(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="enrichPerson(element)">
        <mat-icon>cloud_download</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deletePerson(element)" [disabled]="!element.canDelete">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="piece-list" *ngIf="expandedPerson?.id === element.id">
        <div *ngIf="expandedPieces.length; else none">
          <ul>
            <li *ngFor="let p of expandedPieces">
              <a [routerLink]="['/pieces', p.id]" (click)="openEditPieceDialog(p.id, $event)">{{ p.title }}</a>
            </li>
          </ul>
        </div>
        <ng-template #none>Keine Stücke vorhanden.</ng-template>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)" class="creator-row"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" class="detail-row"></tr>
</table>

<mat-paginator [length]="totalPeople"
               [pageSizeOptions]="pageSizeOptions"
               [pageSize]="pageSize"
               showFirstLastButtons></mat-paginator>
