table {
  width: 100%;
}

.creator-row {
  cursor: pointer;
}

.detail-row td {
  padding: 0 16px 16px;
}

.toolbar {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.letter-filter {
  margin-bottom: 1rem;
  button {
    min-width: 2rem;
  }
}
