<div class="toolbar">
  <mat-button-toggle-group [(ngModel)]="mode" (change)="loadData()" exclusive>
    <mat-button-toggle value="composer">Komponisten</mat-button-toggle>
    <mat-button-toggle value="author">Autoren</mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-flat-button color="primary" (click)="addPerson()" class="add-btn">
    {{ mode === 'composer' ? 'Komponist hinzufügen' : 'Dichter hinzufügen' }}
  </button>
</div>

<div class="letter-filter">
  <button mat-button *ngFor="let l of letters" (click)="onLetterSelect(l)" [color]="selectedLetter === l ? 'primary' : undefined">
    {{ l }}
  </button>
</div>

<div mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
  <ng-container matColumnDef="name">
    <div mat-header-cell *matHeaderCellDef>Name</div>
    <div mat-cell *matCellDef="let element">{{ element.name }}</div>
  </ng-container>

  <ng-container matColumnDef="birthYear">
    <div mat-header-cell *matHeaderCellDef>Geburt</div>
    <div mat-cell *matCellDef="let element">{{ element.birthYear }}</div>
  </ng-container>

  <ng-container matColumnDef="deathYear">
    <div mat-header-cell *matHeaderCellDef>Tod</div>
    <div mat-cell *matCellDef="let element">{{ element.deathYear }}</div>
  </ng-container>

  <ng-container matColumnDef="actions">
    <div mat-header-cell *matHeaderCellDef></div>
    <div mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="editPerson(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="enrichPerson(element)">
        <mat-icon>cloud_download</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deletePerson(element)" [disabled]="!element.canDelete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <div mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="piece-list" *ngIf="expandedPerson?.id === element.id">
        <div *ngIf="expandedPieces.length; else none">
          <ul>
            <li *ngFor="let p of expandedPieces">
              <a [routerLink]="['/pieces', p.id]" (click)="openEditPieceDialog($event, p.id)">{{ p.title }}</a>
            </li>
          </ul>
        </div>
        <ng-template #none>Keine Stücke vorhanden.</ng-template>
      </div>
    </div>
  </ng-container>

  <div mat-header-row *matHeaderRowDef="displayedColumns"></div>
  <div mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)" class="creator-row"></div>
  <div mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" class="detail-row"></div>
</div>

<mat-paginator [length]="totalPeople"
               [pageSizeOptions]="pageSizeOptions"
               [pageSize]="pageSize"
               showFirstLastButtons></mat-paginator>
