<div class="organizations">
  <app-admin-page-header
    title="Organisationen verwalten"
    description="Zentrale Verwaltung von Bezirken, Gemeinden, Chören und Registrierungsanfragen">
  </app-admin-page-header>

  <div class="mobile-tab-selector" *ngIf="isMobile$ | async">
    <mat-form-field appearance="outline" class="tab-select-field">
      <mat-label>Unterbereich</mat-label>
      <mat-select
        [value]="selectedTabIndex"
        (selectionChange)="onSelectedTabIndexChange($any($event.value))">
        <mat-option *ngFor="let tab of tabs; let i = index" [value]="i">
          <span class="mobile-option-content">
            <mat-icon>{{ tab.icon }}</mat-icon>
            <span>{{ tab.mobileLabel || tab.label }}</span>
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-tab-group class="hub-tab-group" (selectedTabChange)="onTabChange($event)" [selectedIndex]="selectedTabIndex">
    <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
      <ng-template mat-tab-label>
        <mat-icon matTabLabelPadding>{{ tab.icon }}</mat-icon>
        <span class="tab-label">{{ tab.label }}</span>
      </ng-template>

      <div class="tab-content" [ngSwitch]="tab.key">
        <app-manage-districts *ngSwitchCase="'districts'"></app-manage-districts>
        <app-manage-congregations *ngSwitchCase="'congregations'"></app-manage-congregations>
        <app-manage-choirs *ngSwitchCase="'choirs'"></app-manage-choirs>
        <app-choir-registration-requests *ngSwitchCase="'registration-requests'"></app-choir-registration-requests>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
