.form-section {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.form-section-column {
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.full-width {
  grid-column: 1 / -1;
}

.lyrics-field textarea {
    min-height: 200px;
}

.link-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

mat-sidenav-container.dialog-container {
  max-width: 800px;
  height: 100%;
}

div[mat-dialog-content] {
  height: 80vh;
  overflow: hidden;
}

mat-sidenav {
  width: 220px;
}
