<h1 mat-dialog-title>{{ isEditMode ? 'Stück bearbeiten' : 'Neues Stück erstellen' }}</h1>

<div mat-dialog-content>
  <mat-sidenav-container class="dialog-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item [class.active]="activeSection==='general'" (click)="activeSection='general'">Grundinformationen</a>
        <a mat-list-item [class.active]="activeSection==='opus'" (click)="activeSection='opus'">Werkinformationen</a>
        <a mat-list-item [class.active]="activeSection==='text'" (click)="activeSection='text'">Text</a>
        <a mat-list-item [class.active]="activeSection==='files'" (click)="activeSection='files'">Dateien &amp; Links</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <form [formGroup]="pieceForm" id="piece-form" (ngSubmit)="onSave()">
        <ng-container [ngSwitch]="activeSection">
          <ng-container *ngSwitchCase="'general'">
            <div class="form-section">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Titel</mat-label>
                <input matInput formControlName="title" cdkFocusInitial>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Untertitel</mat-label>
                <input matInput formControlName="subtitle">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Besetzung (z.B. SATB)</mat-label>
                <input matInput formControlName="voicing">
              </mat-form-field>


              <mat-form-field appearance="outline">
                <mat-label>Rubrik</mat-label>
                <mat-select formControlName="categoryId">
                  <mat-option [value]="addNewId">
                    <mat-icon>add</mat-icon>
                    <span>Neue Rubrik erstellen</span>
                  </mat-option>
                  <mat-divider></mat-divider>
                  <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                    {{ category.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Komponist</mat-label>
                <input type="text" matInput [formControl]="composerCtrl" [matAutocomplete]="autoComposer">
                <input type="hidden" formControlName="composerId" />
                <mat-autocomplete #autoComposer="matAutocomplete" [displayWith]="displayComposer" (optionSelected)="onComposerSelected($event)">
                  <mat-option *ngFor="let composer of filteredComposers$ | async" [value]="composer">
                    <ng-container *ngIf="!composer.isNew; else addNew">
                      {{ composer.name }}
                    </ng-container>
                    <ng-template #addNew>
                      <mat-icon>add</mat-icon>
                      <span>Komponist anlegen "{{ composer.name }}"</span>
                    </ng-template>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Ursprung</mat-label>
                <input matInput formControlName="origin">
              </mat-form-field>

            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'opus'">
            <div class="form-section-column">
              <mat-form-field appearance="outline">
                <mat-label>Tonart</mat-label>
                <input matInput formControlName="key">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Taktart</mat-label>
                <input matInput formControlName="timeSignature">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Opus</mat-label>
                <input matInput formControlName="opus" placeholder="">
              </mat-form-field>


              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Sammlung des Komponisten</mat-label>
                <input matInput formControlName="composerCollection">
              </mat-form-field>

            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'text'">
            <div class="form-section-column">
              <mat-form-field appearance="outline">
                <mat-label>Dichter</mat-label>
                <input type="text" matInput [formControl]="authorCtrl" [matAutocomplete]="autoAuthor" />
                <input type="hidden" formControlName="authorId" />
                <mat-autocomplete #autoAuthor="matAutocomplete" [displayWith]="displayAuthor" (optionSelected)="onAuthorSelected($event)">
                  <mat-option *ngFor="let author of filteredAuthors$ | async" [value]="author">
                    <ng-container *ngIf="!author.isNew; else addNewAuthorTpl">
                      {{ author.name }}
                    </ng-container>
                    <ng-template #addNewAuthorTpl>
                      <mat-icon>add</mat-icon>
                      <span>Dichter anlegen "{{ author.name }}"</span>
                    </ng-template>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Sonstige Quelle</mat-label>
                <input matInput formControlName="lyricsSource" placeholder="z.B. Joh 3,16" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="lyrics-field">
                <mat-label>Text</mat-label>
                <textarea matInput formControlName="lyrics"></textarea>
              </mat-form-field>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'files'">
            <div class="form-section">
              <h4 class="full-width">Links</h4>
              <div formArrayName="links" class="full-width">
                <div *ngFor="let link of linksFormArray.controls; let i=index" [formGroupName]="i" class="link-row">
                  <mat-form-field appearance="outline">
                    <mat-label>Beschreibung</mat-label>
                    <input matInput formControlName="description" />
                  </mat-form-field>
                  <mat-form-field *ngIf="link.get('type')?.value !== 'FILE_DOWNLOAD'" appearance="outline">
                    <mat-label>URL</mat-label>
                    <input matInput formControlName="url" />
                  </mat-form-field>
                  <div *ngIf="link.get('type')?.value === 'FILE_DOWNLOAD'" class="file-upload">
                    <input type="file" (change)="onLinkFileSelected($event, i)" accept="application/pdf,image/*,audio/*" />
                    <span *ngIf="link.get('url')?.value">Datei hochgeladen</span>
                  </div>
                  <mat-form-field appearance="outline">
                    <mat-label>Typ</mat-label>
                    <mat-select formControlName="type" (selectionChange)="onLinkTypeChange(i)">
                      <mat-option value="EXTERNAL">Externer Link</mat-option>
                      <mat-option value="FILE_DOWNLOAD">Datei</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-icon-button color="warn" (click)="removeLink(i)" type="button"><mat-icon>delete</mat-icon></button>
                </div>
              </div>
              <button mat-stroked-button class="full-width" (click)="addLink()" type="button">Link hinzufügen</button>
            </div>
            <mat-divider></mat-divider>
            <div class="form-section">
              <h4>Notenbild</h4>
              <div class="image-upload full-width">
                <div
                  class="dropzone"
                  [class.dragover]="isDragOver"
                  (dragover)="onDragOver($event)"
                  (dragleave)="onDragLeave($event)"
                  (drop)="onDrop($event)"
                  (click)="fileInput.click()"
                >
                  <ng-container *ngIf="!imagePreview">
                    <p>Bild hierher ziehen oder klicken</p>
                  </ng-container>
                  <img *ngIf="imagePreview" [src]="imagePreview" alt="Notenbild Vorschau" />
                </div>
                <input type="file" #fileInput accept="image/*" hidden (change)="onFileSelected($event)" />
              </div>
            </div>
          </ng-container>
        </ng-container>
      </form>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-flat-button color="primary" type="submit" form="piece-form" [disabled]="pieceForm.invalid">
    {{ isEditMode && !isAdmin ? 'Änderung vorschlagen' : 'Speichern' }}
  </button>
</div>
