.form-section {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.full-width {
  grid-column: 1 / -1;
}

.lyrics-field textarea {
    min-height: 200px;
}

.link-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

mat-vertical-stepper {
  max-width: 800px;
}
