:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.actions {
  display: flex;
  gap: 8px;
}

.post-list {
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 8px;
}

mat-divider {
  margin: 1rem 0;
}

.load-more {
  text-align: center;
  margin: 1rem 0;

  a {
    cursor: pointer;
  }
}

.no-posts {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
