<h1 mat-dialog-title>{{ isEdit ? 'Beitrag bearbeiten' : 'Neuer Beitrag' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Titel</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Stück</mat-label>
      <input type="text" matInput [formControl]="pieceCtrl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPiece.bind(this)">
        <mat-option *ngFor="let p of filteredPieces$ | async" [value]="p">{{ p.title }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Text</mat-label>
      <textarea matInput rows="5" formControlName="text" placeholder="Markdown möglich"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Ablaufdatum</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="expiresAt">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Abbrechen</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid">Speichern</button>
</div>
