:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.actions {
  display: flex;
  gap: 8px;
}

.post-list {
  flex: 1 1 auto;
  overflow: auto;
}

.post {
  margin-bottom: 1rem;
}

.no-posts {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
