<div class="dashboard-header">
  <h1 *ngIf="(activeChoir$ | async)?.name as name">
    Welcome to the {{ name }} Dashboard
  </h1>
  <button mat-flat-button color="primary" (click)="openAddEventDialog()">
    <mat-icon>add</mat-icon>
    <span>Add New Event</span>
  </button>
</div>

<div class="dashboard-grid">
  <app-event-card
    cardTitle="Last Divine Service"
    [event]="lastService$ | async">
  </app-event-card>

  <!-- Verwenden Sie die neue Komponente für die Probe -->
  <app-event-card
    cardTitle="Last Rehearsal"
    [event]="lastRehearsal$ | async">
  </app-event-card>
</div>
