:host {
  display: block;
  margin-top: 1em;
}

.available {
  background-color: #c8e6c9;
}

.maybe {
  background-color: #fff9c4;
}

.unavailable {
  background-color: #ffcdd2;
}

.holiday {
  font-style: italic;
  color: #555;
}
