<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" id="user-form" (ngSubmit)="onSave()">
    <div class="name-row">
      <mat-form-field appearance="outline">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="firstName" cdkFocusInitial>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Straße</mat-label>
      <input matInput formControlName="street">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Postleitzahl</mat-label>
      <input matInput formControlName="postalCode">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ort</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Bezirk</mat-label>
      <mat-select formControlName="district">
        <mat-option value="">-</mat-option>
        <mat-option *ngFor="let d of districts" [value]="d.name">{{ d.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Gemeinde</mat-label>
      <mat-select formControlName="congregation">
        <mat-option value="">-</mat-option>
        <mat-option *ngFor="let c of congregations" [value]="c.name">{{ c.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Stimmlage</mat-label>
      <mat-select formControlName="voice">
        <mat-option value="">-</mat-option>
        <mat-option value="Sopran I">Sopran I</mat-option>
        <mat-option value="Sopran II">Sopran II</mat-option>
        <mat-option value="Alt I">Alt I</mat-option>
        <mat-option value="Alt II">Alt II</mat-option>
        <mat-option value="Tenor I">Tenor I</mat-option>
        <mat-option value="Tenor II">Tenor II</mat-option>
        <mat-option value="Bass I">Bass I</mat-option>
        <mat-option value="Bass II">Bass II</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="shareWithChoir">Daten für Chorleiter freigeben</mat-checkbox>
    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Rollen</mat-label>
      <mat-select formControlName="roles" multiple>
        <mat-option value="user" disabled>Standardnutzer</mat-option>
        <mat-option value="admin">Administrator</mat-option>
        <mat-option value="librarian">Bibliothekar</mat-option>
        <mat-option value="demo">Demo</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-flat-button color="primary" type="submit" form="user-form" [disabled]="form.invalid">Speichern</button>
</div>
