<div class="toolbar">
  <button mat-flat-button color="primary" (click)="addChoir()">Chor hinzufügen</button>
</div>

<div mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <div mat-header-cell *matHeaderCellDef>Name</div>
    <div mat-cell *matCellDef="let element">{{ element.name }}</div>
  </ng-container>

  <ng-container matColumnDef="location">
    <div mat-header-cell *matHeaderCellDef>Ort</div>
    <div mat-cell *matCellDef="let element">{{ element.location }}</div>
  </ng-container>

  <ng-container matColumnDef="memberCount">
    <div mat-header-cell *matHeaderCellDef>Mitglieder</div>
    <div mat-cell *matCellDef="let element">{{ element.memberCount }}</div>
  </ng-container>

  <ng-container matColumnDef="eventCount">
    <div mat-header-cell *matHeaderCellDef>Ereignisse</div>
    <div mat-cell *matCellDef="let element">{{ element.eventCount }}</div>
  </ng-container>

  <ng-container matColumnDef="pieceCount">
    <div mat-header-cell *matHeaderCellDef>Repertoire</div>
    <div mat-cell *matCellDef="let element">{{ element.pieceCount }}</div>
  </ng-container>

  <ng-container matColumnDef="actions">
    <div mat-header-cell *matHeaderCellDef></div>
    <div mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="editChoir(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteChoir(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </ng-container>

  <div mat-header-row *matHeaderRowDef="displayedColumns"></div>
  <div mat-row *matRowDef="let row; columns: displayedColumns;"></div>
</div>
