<div class="toolbar">
  <button mat-flat-button color="primary" (click)="addChoir()">Chor hinzufügen</button>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="location">
    <mat-header-cell *matHeaderCellDef>Ort</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.location }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="memberCount">
    <mat-header-cell *matHeaderCellDef>Mitglieder</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.memberCount }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="eventCount">
    <mat-header-cell *matHeaderCellDef>Ereignisse</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.eventCount }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="pieceCount">
    <mat-header-cell *matHeaderCellDef>Repertoire</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.pieceCount }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="editChoir(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteChoir(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
