.piece-detail {
  max-width: 600px;
  margin: 0 auto;
}

.add-note {
  display: flex;
  flex-direction: column;
}

.sheet-image img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.lyrics {
  white-space: pre-line;
}

.file-icon {
  vertical-align: middle;
  margin-right: 0.25rem;
}
