<div class="table-container mat-elevation-z4">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let m">{{ m.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="voice">
      <mat-header-cell *matHeaderCellDef>Stimme</mat-header-cell>
      <mat-cell *matCellDef="let m">{{ m.voice || '-' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>E-Mail</mat-header-cell>
      <mat-cell *matCellDef="let m">{{ m.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="street">
      <mat-header-cell *matHeaderCellDef>Straße</mat-header-cell>
      <mat-cell *matCellDef="let m">{{ mask(m.street, m.shareWithChoir) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="postalCode">
      <mat-header-cell *matHeaderCellDef>PLZ</mat-header-cell>
      <mat-cell *matCellDef="let m">{{ mask(m.postalCode, m.shareWithChoir) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef>Ort</mat-header-cell>
      <mat-cell *matCellDef="let m">{{ mask(m.city, m.shareWithChoir) }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <ng-container matNoDataRow>
      <mat-row>
        <mat-cell [attr.colspan]="displayedColumns.length">Keine Mitglieder gefunden.</mat-cell>
      </mat-row>
    </ng-container>
  </mat-table>
</div>
