<mat-sidenav-container class="admin-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="composers" routerLinkActive="active-admin-link">Composers</a>
      <a mat-list-item routerLink="authors" routerLinkActive="active-admin-link">Authors</a>
      <a mat-list-item routerLink="choirs" routerLinkActive="active-admin-link">Choirs</a>
      <a mat-list-item routerLink="users" routerLinkActive="active-admin-link">Users</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
